@import "../styles/base.scss";

li {
  list-style: none;
}

.trail {
  color: $color-darkest;
  font-size: 2em;
  text-shadow: 0 0 2px $color-base, 0 0 2px $color-base;
}

.header {
  font-size: 2em;
}

.label {
  font-size: 2em;
  font-weight: bold;
  background-color: $color-darker;
  border-top: 1px solid $color-base;
  border-bottom: 1px solid $color-base;
}

input[type="radio"].card-radio {
  display: none;
}

input[type="radio"].card-radio:checked + label {
  background-color: black;
  border: 2px inset $color-base;
  color: $color-base;
  margin-bottom: 0;

  img {
    filter: brightness(1);
  }
}

.species-card {
  background-color: $color-base;
  display: inline-block;
  text-align: center;
  width: 208px;

  margin: 10px;
  color: black;

  img {
    filter: brightness(0);
    width: 200px;
    height: 200px;
  }

  input {
    display: none;
  }
}
