@import "../styles/base.scss";

li {
  list-style: none;
}

.trail {
  color: $color-darkest;
  font-size: 2em;
  text-shadow: 0 0 2px $color-base, 0 0 2px $color-base;
}

.header {
  font-size: 2em;
}

.label {
  font-size: 2em;
  font-weight: bold;
  background-color: $color-darker;
  border-top: 1px solid $color-base;
  border-bottom: 1px solid $color-base;
}

.card {
  background-color: $color-base;
  color: black;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  width: 208px;

  img {
    filter: brightness(0);
    width: 200px;
    height: 200px;
  }

  input {
    display: none;
  }

  input[type="radio"].card-radio {
    display: none;
  }

  input[type="radio"].card-radio + label {
    border: 2px solid $color-darkest;
    margin: 0;
  }

  input[type="radio"].card-radio:checked + label {
    background-color: black;
    border: 2px solid $color-base;
    border-bottom: 0;
    color: $color-base;

    img {
      filter: brightness(1);
    }
  }

  p {
    background-color: $color-base;
    color: black;
    margin: 0;
    padding: 4px;
  }
}

.occupation-card {
  h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 4px;
    height: 4rem;
  }
  img {
    width: 85px;
    height: 85px;
    padding: 8px;
  }
}
