// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  src: local("Source Code Pro"), local("SourceCodePro"),
    url("../assets/SourceCodePro/SourceCodePro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 900;
  font-style: normal;
  src: local("Source Code Pro"), local("SourceCodePro"),
    url("../assets/SourceCodePro/SourceCodePro-Black.ttf") format("truetype");
}

$color-base: #ffbf00;
$color-light: #ffdf80;
$color-dark: #806000;
$color-darker: #403000;
$color-white: #cccccc;
$color-darkest: #0f0f17;
$color-background:  #1d1b11;
$font-base: "Source Code Pro", monospace;

.center {
  text-align: center;
}

.glow {
  text-shadow: 0 0 2px $color-base, 0 0 2px $color-base;
}

.hidden {
  visibility: hidden;
}

