.top-nav {
  display: flex;
  align-items: center;
  background-color: #003300;
  height: 4em;
  padding: 0 1em;
  overflow: hidden;
}

.title {
  color: #00cc00;
  font-weight: 900;
  font-size: 7em;
  text-transform: capitalize;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  margin-left: -0.2em
}

.user-image {
  border: 2px solid #99ff99;
  border-radius: 50%;
  height: 3em;
  width: auto;
}

.button-login {
  margin-top: 0.5em;
  margin-left: 1em;
  height: 38px;
}

.button-login button {
  margin: 0;
}

.logo-img {
  border-top-left-radius: .5em;
  /* position: relative; */
  margin-left: -1em;
  height: 6em;
  width: 6em;
}
