@import '../styles/base.scss';

.top-nav {
  display: flex;
  align-items: center;
  background-color: $color-darker;
  color: $color-dark;
  height: 4em;
  padding: 0 1em;
  overflow: hidden;
  border-bottom: 2px solid $color-dark;
}

.title {
  color: $color-base;
  display: inline-block;
  flex-grow: 1;
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  margin-left: -0.15em;
  margin-top: -0.05em;
  text-align: left;
  text-transform: capitalize;
}

.user-image {
  border: 2px solid $color-base;
  border-radius: 50%;
  height: 3em;
  width: auto;
}

.button-login {
  margin-top: 0.5em;
  margin-left: 1em;
  height: 38px;
}

.button-login button {
  margin: 0;
}

.logo-img {
  border-top-left-radius: 0.5em;
  margin-left: -1em;
  height: 6em;
  width: 6em;
}

@media  screen  and (max-width: 1120px) {
  .title {
    font-size: 4em;
  }
}
