@import "../styles/base.scss";

.page-home {
  .welcome {
    border-bottom: 2px solid $color-base;
    font-size: 2em;
    padding: 1rem 0;
    text-align: center;
  }

  .leftcol {
    font-size: 2rem;
    padding-left: 1em;
    width: 310px;
  }

  .midcol {
    margin-left: 1em;
    font-size: 2rem;
    width: 320px;
  }

  .maincol {
    font-size: 2rem;
    // width: 500px;
    width: auto;
  }

  h2 {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
}

.menu {
  h2 {
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: $color-light;
      color: $color-darkest;
    }
  }
}

.jump-menu {
  float: left;
  width: 400px;
  border: 1px solid blue;
}

.jump-destination {
  border: 1px solid red;
  width: auto;
}
