body {
  background-color: #313370;
  color: #cccccc;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.pi {
  bottom: 4px;
  color: #009900;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 4px;
}
