@import "./styles/base.scss";

body {
  background-color: black;
  color: $color-base;
  font-family: $font-base;
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}

button {
  background-color: $color-dark;
  border-color: $color-base;
  border-radius: 0;
  color: $color-base;
}

button:hover {
  background-color: $color-light;
  border-color: $color-dark;
  color: $color-dark;
}

input[type="text"] {
  background-color: $color-light;
  border-color: $color-base;
  border-radius: 0;
  font-family: $font-base;
  height: 2em;

  &:focus,
  &:hover {
    border-color: $color-darker;
  }
}
